<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moral.airtree">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".common.ABaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait" />
        <activity android:name=".ForgetPwdActivity" android:screenOrientation="portrait" />
        <activity android:name=".RegisterActivity" android:screenOrientation="portrait" />
        <activity android:name=".DeviceManagerActivity" android:screenOrientation="portrait" />
        <activity android:name=".HistoryActivity" android:screenOrientation="portrait" />
        <activity android:name=".ShopActivity" android:screenOrientation="portrait" />
        <activity android:name=".PersonalMainActivity" android:screenOrientation="portrait" />
        <activity android:name=".DeviceAddActivity" android:screenOrientation="portrait" />
        <activity android:name=".DeviceAddErrorActivity" android:screenOrientation="portrait" />
        <activity android:name=".DeviceInfoActivty" android:screenOrientation="portrait" />
        <activity android:name=".DeviceAddLoadActivity" android:screenOrientation="portrait" />
        <activity android:name=".PersonalRevisePwdActivity" android:screenOrientation="portrait" />
        <activity android:name=".PersonalReviseNickNameActivity" android:screenOrientation="portrait" />
        <activity android:name=".PersonalFeedbackActivity" android:screenOrientation="portrait" />
        <activity android:name=".DeviceDetailReviseActivity" android:screenOrientation="portrait" />
        <activity android:name=".MonitorActivity" android:screenOrientation="portrait" />

        <service android:name=".service.HeartbeatService" android:label="HeartbeatService" android:persistent="true" >
            <intent-filter>
                <action android:name="HeartbeatService" />
            </intent-filter>
        </service>
    </application>

</manifest>